@model MeatShop.ViewModels.InventoryViewModel
@{
    ViewBag.Title = "AddingToInHouseInventory";
}

<h4>AddingToInventory</h4>

<br />
<html>
<body>
    <div class="panel panel-default">

        <div class="panel-heading">Inventory</div>

        <table class="table table-bordered table-hover">

            @{
                <thead>
                    <tr>
                        <th>Meat Type</th>
                        <th>Quantity Available</th>
                    </tr>
                </thead>

                foreach (var meat_type in Model.Inventory_List)
                {
                    <tr class="meatRows">
                        <td>@meat_type.MeatType.Name</td>
                        <td>@meat_type.Quantity</td>
                    </tr>
                }
            }

        </table>
    </div>
    <script src="~/Scripts/BoldingMeatTypeLessThan20lbs.js">

    </script>
</body>
</html>